.pic1 {
  margin-top: 5%;
}

.formGroup {
  background-color: red;
}

.indivForm {
  margin-top: 40px;
}

.forgotPword {
  margin-top: -15px;
  text-align: right;
  font-size: 10px;
  font-family: Segoe UI;
  font-style: italic;
}

.purplePlayButton {
  margin-top: 10px;
}

.inputBox {
  background-color: #c4c4c4;
  border-radius: 10px;
  color: #afadad;
  padding: 10px 0px 10px 20px;
}
